*{
    margin: 0;
    background-color: black;
}

#intro{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: white;
}

#intro img{
    width: 30%;
}

#introText{
    padding: 0% 4%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

#tributeIntro{
    font-size: 200%;
}

#maharajIntro{
    font-size: 250%;
    color: orange;
}

#introText a{
    margin: 3% 0%;
    color: white;
    padding: 1% 3%;
    font-size: 150%;
    border: 2px solid orange;
    text-decoration: none;
}

#introText a:hover{
    background-color: orange;
}

#content{
    color: white;
    padding: 0% 20%;
    font-size: 175%;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: system-ui;
}

#endContent{
    color: orange;
    font-size: 200%;
    text-align: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}